.search-icon{
    color: #0E5293;
}

.search-icon-disabled{
    color: gray;
}

.icon-content{
    display: flex;
}

.key-style{
   font-size: 12px;
   color: rgb(117, 117, 117);
}

.value-style{
   
}

.mat-option {
    height: 50px;
    line-height: 20px;
  }
