.msn-error{
    color: red;
    font-size: 10px;
    // display: flex;
    width: 180px;
}

.msn-alert{
    color: orange;
    font-size: 10px;
    display: flex;
    width: 180px;
}

.extraWidth {
    //width: 480px;
    width: 423px;
}

.search-icon{
    color: #0E5293;
}